transformers
torch
accelerate
langchain
langchain-experimental
langchain-community
langchain-core
cassio==0.1.5
djangorestframework==3.14.0
langserve
langchain-cli
text_generation
huggingface-cli
huggingface_hub
